/* 第一次进入动画 */
.zzt-appear {
	transform: translateX(-150px);
}
.zzt-appear-active {
	transform: translateX(0);
	transition: transform 2s ease;
}
/* 进入动画 */
.zzt-enter {
	opacity: 0;
}
.zzt-enter-active {
	opacity: 1;
	transition: opacity 2s ease;
}
/* 离开动画 */
.zzt-exit {
	opacity: 1;
}
.zzt-exit-active {
	opacity: 0;
	transition: opacity 2s ease;
}